<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Bagshow</title>
    <link rel="icon" href="/images/shopping-bag.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/fonts.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body class="bg-stone-950 relative h-screen"> 
    <div class="absolute bottom-0 left-0 right-0 h-90p rounded-t-3xl w-full bg-stone-200 p-12">
        <div class="p-4 mb-10">
        <h1 class="text-stone-950 text-center text-4xl tracking-wide">Sign Up</h1>
        <h2 class="text-black text-center text-base font-light tracking-tighter">lets create an account</h2>
        </div>
        <form action="/user/signup" method="post" class="flex flex-col gap-8 text-stone-400 relative">
            <div class="tracking-wider text-stone-900 border-none bg-stone-300 w-full pr-2 pl-2 rounded-lg text-xl flex items-center">
                <i class="ri-user-3-fill text-stone-400"></i>
                <input type="text"  name="username" value="<%= username %>" placeholder="username.." class="bg-stone-300 w-full p-3 rounded-lg text-xl focus:outline-none">
            </div>
            <h2 class="text-red-400 tracking-tighter text-sm absolute top-14"><%= errorname %></h2>
            <div class="tracking-wider text-stone-900 border-none bg-stone-300 w-full pr-2 pl-2 rounded-lg text-xl focus:outline-none focus:ring-2 focus:ring-stone-600 focus:border-transparent flex items-center">
            <i class="ri-mail-fill text-stone-400"></i>
            <input type="email" name="email" value="<%= email %>" placeholder="Email"  class="bg-stone-300 w-full p-3 rounded-lg text-xl focus:outline-none">
            </div>
             <h2 class="text-red-400 tracking-tighter text-sm absolute top-36"><%= erroremail %></h2> 
            <div class="tracking-wider text-stone-900 border-none bg-stone-300 w-full pr-2 pl-2 rounded-lg text-xl flex items-center justify-between">
            <div class="flex items-center">
            <i class="ri-lock-fill text-stone-400"></i>
            <input type="password"  id="password" name="password" value="<%= password %>" placeholder="password"  class="bg-stone-300 w-full p-3 rounded-lg text-xl focus:outline-none"></div>
            <div><i id="togglePassword" class="ri-eye-fill text-stone-400 text-2xl"></i></div>
            </div>
            <input type="submit" value="Sign Up" class="mt-10 bg-stone-800 text-xl text-stone-200 block p-2 rounded-lg ">
            <a href="/user/login" class="text-stone-900 text-center text-base"><h2>Already have an Account? <span class="text-blue-400 underline">Log in</span></h2></a>
        </form>
    </div>
 <script>
    // Toggle password visibility
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
      // Toggle the type attribute of the password field
      const type = password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);

      // Toggle the eye icon class for a visual change
      this.classList.toggle("ri-eye-fill");
      this.classList.toggle("ri-eye-off-fill");
    });
  </script>
</body>
</html>
